<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="methods" thread-count="1">
    <test name="Regression 1">
        <classes>
            <class name="test.java.Tests.Test">
            <methods>
                <include name="loginWithIdPassword"/>
                <include name="listPage"/>

            </methods>
            </class>

        </classes>


    </test>
</suite>